@import "tailwindcss";

@theme {
  --color-background: #FFF2ED;
  --color-primary: #FF631C;
  --color-brand: #FF461C;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
    transform: rotate((-15deg));
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    transform: rotate((0deg));
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: translateY(-25%);
    transform: rotate((15deg));
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
